In [17]:
import pandas as pd

In [18]:
val1 = pd.read_csv('token_in_script.csv').rename(columns={'input.token_in':'token_in'})
val2 = pd.read_csv('token_in_simclass.csv')

In [19]:
display(pd.concat([val1, val2], axis=1, ignore_index=True))

         0     1    2     3
0        0  base  0.0  base
1        1   fyt  1.0   fyt
2        2  base  2.0  base
3        3  base  3.0  base
4        4   fyt  4.0   fyt
...    ...   ...  ...   ...
2965  2965  base  NaN   NaN
2966  2966  base  NaN   NaN
2967  2967   fyt  NaN   NaN
2968  2968   fyt  NaN   NaN
2969  2969  base  NaN   NaN

[2970 rows x 4 columns]

In [20]:
display(val1.head(1))
display(val2.head(1))

   Unnamed: 0 token_in
0           0     base

   Unnamed: 0 token_in
0           0     base

In [21]:
min_len = min(val1.shape[0], val2.shape[0])
if all(val1.token_in[0:min_len] == val2.token_in[0:min_len]):
    print('The two files are identical')

The two files are identical